PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/place-scout
SCRAPER_BASE_URL=http://localhost:8080
SCRAPER_POLL_INTERVAL_MS=2000
SCRAPER_POLL_TIMEOUT_MS=120000
HTTP_REQUEST_TIMEOUT_MS=300000
CORS_ORIGIN=http://localhost:5173
